.doctor-services-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #cfdaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 70%;
    background: linear-gradient(to right, #5995fd, #c471ed, #12c2e9);
}

.form-field {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-weight: bold;
    color: white;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    height: 45px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none; /* для Link */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #4d84e2;
}

.gradienttext {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    width: 400px !important;
    background: white !important;
    color: #333 !important;
}
.modal-content label { color: #333; }