.profile-page-wrapper {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    padding: 0px;

    background: #cfdaff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page-wrapper .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 30px;
    padding: 10px;

    width: 70%;
    background: linear-gradient(to right, #5995fd, #c471ed, #12c2e9);

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.profile-page-wrapper .left-container {
    background: linear-gradient(to right, #434343, #000000);
    flex: 1;
    max-width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    margin: 30px;

    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2),
                0 6px 20px rgba(0,0,0,0.19);
}

.profile-page-wrapper .right-container {
    background: linear-gradient(to left, #434343, #000000);

    flex: 1;
    max-width: 80%;

    padding: 10px;
    margin: 10px;

    border-radius: 30px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2),
                0 6px 20px rgba(0,0,0,0.19);

    overflow-y: auto;
    max-height: 80vh;
}

@media only screen and (max-width: 860px) {
    .profile-page-wrapper .card {
        flex-direction: column;
        width: 90%;
        margin: 10px;
    }

    .profile-page-wrapper .left-container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .profile-page-wrapper .card {
        flex-direction: column;
    }

    .profile-page-wrapper .left-container {
        max-width: 100%;
    }
}

.profile-page-wrapper img {
    width: 200px;
    height: 200px;
    max-width: 200px;

    border-radius: 50%;
    margin: 10px;

    object-fit: cover;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2),
                0 6px 20px rgba(0,0,0,0.19);
}

.profile-page-wrapper h2,
.profile-page-wrapper h3 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}

.profile-page-wrapper p {
    font-size: 18px;
    margin-bottom: 20px;
    color: aliceblue;
}

.profile-page-wrapper .gradienttext {
    background-image: linear-gradient(to right, #5995fd 0%, #5995fd 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.profile-page-wrapper table {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 280px;
    border-collapse: collapse;
}

.profile-page-wrapper td {
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}

.profile-page-wrapper td:first-child {
    font-weight: bold;
}

.profile-page-wrapper .credit {
    text-align: center;
    margin-top: 10px;

    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-page-wrapper .credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.profile-page-wrapper .btn {
    width: 100px;
    background-color: #5995fd;

    border: none;
    outline: none;
    height: 49px;

    border-radius: 49px;
    color: #fff;

    font-weight: 600;
    text-transform: uppercase;

    margin: 10px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.profile-page-wrapper .btn:hover {
    background-color: #4d84e2;
}

.profile-page-wrapper .change-btn {
    padding-left: 30px;
    padding-top: 15px;
}

.profile-page-wrapper .page-header {
    width: 70%;
    margin: 10px auto 0;

    display: flex;
    justify-content: flex-end;
}

.profile-page-wrapper .login-btn {
    width: 100px;
    background-color: #5995fd;

    border: none;
    outline: none;

    height: 40px;
    border-radius: 20px;
    color: #fff;

    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.profile-page-wrapper .login-btn:hover {
    background-color: #4d84e2;
}
